---
  name: MegaLinter
  on:
    push:
    pull_request:
      branches:
        - main
        - master

  concurrency:
    group: ${{ github.ref }}-${{ github.workflow }}
    cancel-in-progress: true

  jobs:
    megalinter:
      name: MegaLinter
      runs-on: ubuntu-latest
      permissions:
        contents: write
        issues: write
        pull-requests: write

      steps:
        # Git Checkout
        - name: Checkout Code
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            fetch-depth: 0

        - name: MegaLinter
          uses: oxsecurity/megalinter/flavors/javascript@v7.9.0
          id: ml
          env: 
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DISABLE: COPYPASTE,SPELL
